worker_processes 1;
events { worker_connections 1024; }

http {
  server {
    listen 80;

    # Frontend
    location / {
      proxy_pass http://$FRONTEND_HOST:$FRONTEND_PORT;
    }

    # Backend API
    location /api/ {
      proxy_pass http://$BACKEND_HOST:$BACKEND_PORT/api/;
    }
  }
}
